.player_fenetre{
    height: 35%;
    width: 19%;
/*
    position: absolute;
    top: 138%; 
    left: 80%;
*/
    position: fixed;
    top: 40%; 
    right: 1%;
    border-radius: 19px;
    z-index: 1;
}
@media only screen and (max-device-width:480px) and (orientation: portrait){
    .player_fenetre{
        height: 10%;
        width: 19%;
        position: fixed;
        top: 65%; 
        right: 1%;
        border-radius: 19px;
        z-index: 1;
    }
}
@media only screen and (max-device-width:480px) and (orientation: paysage){
    .player_fenetre{
        height: 10%;
        width: 19%;
        position: fixed;
        top: 40%; 
        right: 1%;
        border-radius: 19px;
        z-index: 1;
    }
}
.player_boiteTitre{
    margin-top: 2%;
    margin-bottom: 4%;
    height: 16%;
    font-size: 1.3em;
    text-align: center;
}
.player_titreAll, .player_titreRock, .player_titreRap{
    color: rgb(74,120,242); 
    color: rgba(74,120,242,1);
}
.player_titreReggae{ 
    color: rgb(245,240,22); 
    color: rgba(245,240,22,0.9);
}
.player_titrePop{
    color: rgb(255,255,255); 
    color: rgba(255,255,255,0.9);
}

.player_fenetreVideo, .player_fenetreListeLecture{
    margin-left: 10%;
    height: 62.5%;
    width: 80%;
    border: 1px solid red;
}


.fenetreListeLecture_boite{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.ligneListeLecture{
    height: 25%;
    width: 100%;
/*    overflow-x: none;*/
/*    overflow: ;*/
/*    text-overflow: clip;*/
}
.couleurLigne1{
    background-color: grey;
    color: darkred;
}
.couleurLigne2{
    background-color: black;
    color: dimgrey;
}



/*BOUTON AFFICHAGE FENETRE LECTURE*/
.boiteBoutonAffichPlayerOuLL{
    margin-top: 5%;
/*    padding-top: 0px;*/
    text-align: center;
    height: 8%;
/*    border: 1px solid red;*/
}
.btn {
    vertical-align: top;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 50%;
    padding: 2% 4% 2% 4%;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}