
.translationArtiste {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(0deg) scale(0.791) skew(1deg) translate(0px);
-webkit-transform: rotate(0deg) scale(0.791) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(0.791) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(0.791) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(0.791) skew(1deg) translate(0px);
}
.translationArtiste:hover{
transform: rotate(0deg) scale(0.791) skew(1deg) translate(76px);
-webkit-transform: rotate(0deg) scale(0.791) skew(1deg) translate(76px);
-moz-transform: rotate(0deg) scale(0.791) skew(1deg) translate(76px);
-o-transform: rotate(0deg) scale(0.791) skew(1deg) translate(76px);
-ms-transform: rotate(0deg) scale(0.791) skew(1deg) translate(76px);
}





/* ======================================== BLOC LIENS ARTISTES ======================================= */

/* POSITION BLOC ANCRES */
.general_fenetreLiensArtistes {
	display: inline-block;
	width: 150px;
	position: fixed;
	left: 10px; 
	top: 250px;
	border-radius: 4px;
    z-index: 3;
}

.draggableBox {
    position: absolute;
    cursor: move;
}


/* TITRE BLOC ANCRES */
.general_titreLiensArtistes{
	font-family: 'chunkfiveroman', Arial, serif;
	font-size: 1.7em;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
    cursor: default;
}

.liensArtistes{
	margin-top: 0px;
	margin-bottom: 15px;
	padding-left: 1px;
	text-align: center;
	overflow: auto;
	height: 220px;
	font-family: 'kaushan_scriptregular', Arial, serif;
}


/* On supprime les "tick" devant la liste */
nav ul{list-style-type: none; cursor: default;}
nav ul li a span{cursor: pointer;}


/* Couleurs des liens avant et après click */
a{   text-decoration: none;}

.boites_couleurPoliceAllOnClick, .boites_couleurPoliceRockOnClick{ 
    color: rgb(248,43,20);
    color: rgba(248,43,20,0.6);
}
.boites_couleurPoliceRapOnClick{
    color: rgb(74,120,242);
    color: rgba(74,120,242,0.9);
}
.boites_couleurPoliceReggaeOnClick{ 
    color: rgb(0,0,0);
    color: rgba(0,0,0,0.9);
}
.boites_couleurPolicePopOnClick{
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.9);
}


/* =================================== FIN BLOC LIENS ARTISTES ======================================== */